body {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: medium;
    color: rgb(87, 89, 102);
}

input[type=text] {
    width: 50%;
    margin-top: 20px;
    padding: 10px;
    border: hsl(0, 100%, 100%);
    background-color: rgb(242, 242, 255);
    outline-color: rgb(143, 143, 255);
    border-radius: 4px;
    box-sizing: border-box;
}

#divDisplayWords {
    font-size: 16px;
    margin-top: 15px;
}

div{
    background-color: rgb(220, 222, 245);
    margin: 15%;
    padding: 25px;
    border-radius: 12px;
}

.buttoncal{
    background-color: #222c8b;
        color: white;
        margin-left: 20px;
        margin-top: 10px;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        
        
}