/*-------------------All Tags-------------------------*/
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

/*-------------------Generate by Intension-------------------------*/
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text__center {
    text-align: center;
}
.link_custom{
    text-decoration: none;
}
.link_a {
    text-decoration: none;
    color: rgb(255, 87, 87);
}
/*-------------------Nav Bar-------------------------*/
.container__nav{
    padding: 5px;
}

.nav { 
    flex-flow: row wrap;
    /* background-color: aliceblue;
    border-radius: 20px;
    justify-content: space-between; */
}

.nav__logo {
    justify-items: center;
}
.logo{
    margin-top: 12px;
    width: 100px;
}
.nav__menu {
    justify-content: end;
    gap: 40px;
    margin-right: 40px;
}
.spec__button{
    color: rgba(1, 0, 32, 0.637) !important;
    background-color: rgb(255, 255, 255);
    height: 40px;
    width: 80px;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: bold;
    border: 3px solid rgb(176, 184, 255);
}
.spec__button:hover{
    box-shadow: 2px 2px 6px rgb(164, 166, 255);
}

/*-------------------Header-------------------------*/
.container__header{
    display: flex;
    justify-content: center;
}
.header{
    text-align: center;
}


/*-------------------Body Tools Comp.-------------------------*/
.container {
    background-color: rgb(235, 239, 255);
    border-radius: 5px;
    padding: 30px;
    margin: 10px;
}

.block__title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
}

.main {
    display: flex;
    flex-flow: row wrap;
    gap: 22px;
}

.main__card {
    flex: 1 150px;
    border: 2px solid rgb(176, 184, 255);
    border-radius: 10px;
    box-shadow: 3px 3px 7px rgba(139, 139, 139, 0.87);
    background-color: rgb(255, 255, 255);
    padding: 10px 60px 10px 25px;
    
}

.main__card:hover {
    box-shadow: 6px 6px 1px rgb(20, 20, 20);
    cursor: pointer;
}

.main__card__title {
    color: rgb(32, 32, 32);
    font-size: 14px;
}

/* .main__card__logo {} */

