body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    flex-flow: row wrap;
}

.header__logo {}

.header__title {}

.container {
    background-color: rgb(235, 239, 255);
    border-radius: 5px;
    padding: 30px;
    margin: 10px 10px 10px 10px;
}

.main {
    display: flex;
    flex-flow: row wrap;
}
a:link {
    text-decoration: none;
    color: rgb(255, 87, 87);
  }

.main__card {
    flex: 1 150px;
    border: 2px solid rgb(176, 184, 255);
    border-radius: 10px;
    background-color: rgb(179, 203, 255);
    box-shadow: px 3px 6px rgba(139, 139, 139, 0.87);
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 10px 60px 10px 25px;
}

.main__card:hover {
    box-shadow: 7px 7px 1px rgb(20, 20, 20);
    cursor: pointer;
}

.main__card__title {
    color: rgb(32, 32, 32);
}

.main__card__logo {}

.block__title {
    display: flex;
    align-items: center;
    justify-content: space-around;
}